*{
    
    padding: 10px;
    margin: 0px;
    align-items: center;
    text-align: center;
}
header
{
    background-color: #500e0e !important;
    color: rgb(239, 239, 239)!important;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    border-radius:10px;
}
 .p{
    font-size: 30px;
    color: #6d4d4d;
    
    
}